In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('AllMakes.csv')

In [3]:
df.head()

   make_id     make_name
0      440  ASTON MARTIN
1      441         TESLA
2      442        JAGUAR
3      443      MASERATI
4      444    LAND ROVER

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9525 entries, 0 to 9524
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make_id    9525 non-null   int64
 1   make_name  9525 non-null   object
dtypes: int64(1), object(1)
memory usage: 149.0+ KB

In [ ]:
https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/?'SALRR2RV0L2433391;JF1VA2M67G9829723'format=csv

In [4]:
vin = pd.read_csv('VINValues.csv')

In [5]:
vin

,makeid,modelid,vin,batteryinfo,batterytype,bedtype,bodycabtype,bodyclass,enginecylinders,destinationmarket,...,saeautomationlevel_to,rearcrosstrafficalert,gcwr,gcwr_to,ncsanote,ncsamappingexception,ncsamapexcapprovedon,ncsamapexcapprovedby,gvwr_to,errortext
0,444,NaN,SALRR2RV0L2433391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 - VIN has errors in few positions; 12 - Mode...

In [ ]:
query = {'q': 'tetris+language:assembly', 'sort': 'stars', 'order': 'desc'}
url = '/vehicles/DecodeVINValuesBatch/'

In [ ]:
response = requests.get(url, params=query)