In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import scipy
from scipy import stats
from scipy.stats.mstats import winsorize
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [7]:
def print_outliers(df):
    
    print('Continuious Variables', '\n')
    
    for column in df.select_dtypes(include=['int64', 'float64', 'float']):
        print(column)
        for threshold in [95, 90, 85, 80, 75]:
            upper_value = np.percentile(df[column], [threshold])[0]
            print('Beyond the lower {}th percentile there are {} outliers'.format(threshold, 
                len((np.where((df[column] > upper_value))[0]))
            ))
        
        print('\n')
    
    print('Categorical Variables', '\n')
    
    for column in df.select_dtypes(include='object'):
        print(column)
        print('There are {} unique values'.format(df[column].nunique()))
        if df[column].nunique() < 15:
            print(df[column].value_counts())
            print('\n')

In [4]:
def print_nulls(df):
    return df.isnull().sum()*100/df.isnull().isnull().count()

To complete this challenge, submit a Jupyter notebook containing your solutions to the following tasks. Moreover, you can also submit a kernel to the Kaggle containing your solutions.

Your goal in this challenge is to find the factors that affect the life expectancy. Specifically, you need to find out which factors increase the expected life in the countries and which factors decrease it.

First, load the dataset.

Detect the problems with the data such as missing values and outliers. Are there any nonsense values that seem to be stemmed from the data collection? For the missing values, discuss which technique would be the most suitable one in filling out these values. Regarding the outliers, discuss their potential effects on your analysis and select an appropriate method to deal with them.

Explore the data using univariate and multivariate exploration techniques. You should pay special attention to your target variable. In this regard, your focus should be on finding the relevant variables that may affect life expectancy.

In the feature engineering step, you need to select a suite of variables that you think would be ideal in the modeling phase. More concretely, you may discard some variables that are very correlated with the other ones or the variables that you think irrelevant with the life expectancy.

Summarize your findings. One of the most important skills of a data scientist is to convey ideas and findings to nontechnical people using understandable language. In this regard, one of the most effective ways to communicate your ideas is to do it using effective visualization.

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'
table_name = 'lifeexpectancy'




engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

query1 = '''
SELECT
  *
FROM
  lifeexpectancy
'''

df = pd.read_sql_query(query1, con=engine)
engine.dispose()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [9]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
print_nulls(df)

Country                             0.000000
Year                                0.000000
Status                              0.000000
Life expectancy                     0.340368
Adult Mortality                     0.340368
infant deaths                       0.000000
Alcohol                             6.603131
percentage expenditure              0.000000
Hepatitis B                        18.822328
Measles                             0.000000
 BMI                                1.157250
under-five deaths                   0.000000
Polio                               0.646698
Total expenditure                   7.692308
Diphtheria                          0.646698
 HIV/AIDS                           0.000000
GDP                                15.248468
Population                         22.191967
 thinness  1-19 years               1.157250
 thinness 5-9 years                 1.157250
Income composition of resources     5.684139
Schooling                           5.547992
dtype: float64

In [8]:
print_outliers(df)

Continuious Variables

Year
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 183 outliers
Beyond the lower 85th percentile there are 366 outliers
Beyond the lower 80th percentile there are 559 outliers
Beyond the lower 75th percentile there are 559 outliers


Life expectancy
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Adult Mortality
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


infant deaths
Beyond the lower 95th percentile there are 147 outliers
Beyond the lower 90th percentile there are 290 outliers
Beyond the lower 85th percentile there are 439 outliers
Beyond the lower 80th percentile there are 577 outliers
Beyond the lower 75th percentile there are 725 outliers


Alcohol
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


percentage expenditure
Beyond the lower 95th percentile there are 147 outliers
Beyond the lower 90th percentile there are 294 outliers
Beyond the lower 85th percentile there are 441 outliers
Beyond the lower 80th percentile there are 588 outliers
Beyond the lower 75th percentile there are 735 outliers


Hepatitis B
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Measles
Beyond the lower 95th percentile there are 147 outliers
Beyond the lower 90th percentile there are 294 outliers
Beyond the lower 85th percentile there are 441 outliers
Beyond the lower 80th percentile there are 588 outliers
Beyond the lower 75th percentile there are 735 outliers


 BMI
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


under-five deaths
Beyond the lower 95th percentile there are 146 outliers
Beyond the lower 90th percentile there are 291 outliers
Beyond the lower 85th percentile there are 439 outliers
Beyond the lower 80th percentile there are 588 outliers
Beyond the lower 75th percentile there are 729 outliers


Polio
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Total expenditure
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Diphtheria
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


 HIV/AIDS
Beyond the lower 95th percentile there are 147 outliers
Beyond the lower 90th percentile there are 291 outliers
Beyond the lower 85th percentile there are 435 outliers
Beyond the lower 80th percentile there are 584 outliers
Beyond the lower 75th percentile there are 711 outliers


GDP
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Population
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


 thinness  1-19 years
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


 thinness 5-9 years
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Income composition of resources
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Schooling
Beyond the lower 95th percentile there are 0 outliers
Beyond the lower 90th percentile there are 0 outliers
Beyond the lower 85th percentile there are 0 outliers
Beyond the lower 80th percentile there are 0 outliers
Beyond the lower 75th percentile there are 0 outliers


Categorical Variables

Country
There are 193 unique values
Status
There are 2 unique values
Developing    2426
Developed      512
Name: Status, dtype: int64